@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

html body {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

html body h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
}

html body h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 23px;
  color: #fff;
}

html body h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}

html body a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}

html body p {
  font-size: 15px;
}

.header {
  background-color: #1981FF;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0;
}

.header .header__logo {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__logo img {
  width: 135px;
  height: 150px;
}

.header .header__menu {
  background-color: #000;
}

.header .header__menu .menu_texto {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__menu a {
  text-align: center;
}

.banner__home, .banner__nosotros, .banner__actividades, .banner__planes, .banner__contacto {
  padding-top: 0;
  width: 100%;
  height: auto;
  background-image: url(../img/imagen_portada.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__titulo {
  background-color: #000000af;
  color: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.principal {
  background-color: #000;
}

.principal .carta {
  background-color: #1981FF;
  padding: 0;
  border-radius: 20px;
}

.principal .carta .contenedor__imagen img {
  background-color: #fff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 125px;
  height: 100px;
}

.principal .carta .contenedor__texto {
  height: auto;
  width: auto;
  padding: 0;
}

.principal .carta .contenedor__texto h3 {
  background-color: #000;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.principal .carta .contenedor__texto p {
  background-color: #0C3970;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 0 0 20px 20px;
}

.banner__nosotros {
  background-image: url(../img/imagen_nosotros.jpg);
}

.nosotros, .ubicacion {
  padding: 0;
  /* --------------------------uso de map */
}

.nosotros .nosotros__contenido--negro, .ubicacion .nosotros__contenido--negro, .nosotros .ubicacion__contenido--negro, .ubicacion .ubicacion__contenido--negro {
  background-color: #000;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nosotros .nosotros__contenido--azul, .ubicacion .nosotros__contenido--azul, .nosotros .ubicacion__contenido--azul, .ubicacion .ubicacion__contenido--azul {
  background-color: #0C3970;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nosotros .nosotros__media, .ubicacion .nosotros__media, .nosotros .ubicacion__media, .ubicacion .ubicacion__media {
  height: 350px;
  margin: 15px;
  display: inline-block;
  padding: 10px;
}

.nosotros .nosotros__media img, .ubicacion .nosotros__media img, .nosotros .ubicacion__media img, .ubicacion .ubicacion__media img {
  height: 350px;
  border-radius: 5px;
}

.nosotros .nosotros__media iframe, .ubicacion .nosotros__media iframe, .nosotros .ubicacion__media iframe, .ubicacion .ubicacion__media iframe {
  border-radius: 5px;
  height: 350px;
  width: 400px;
}

.nosotros .nosotros__texto, .ubicacion .nosotros__texto, .nosotros .ubicacion__texto, .ubicacion .ubicacion__texto {
  color: #fff;
  width: 30%;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px 20px 10px;
}

.nosotros .nosotros__texto h2, .ubicacion .nosotros__texto h2, .nosotros .ubicacion__texto h2, .ubicacion .ubicacion__texto h2 {
  text-align: center;
  padding: 5px;
}

.nosotros .nosotros__texto p, .ubicacion .nosotros__texto p, .nosotros .ubicacion__texto p, .ubicacion .ubicacion__texto p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

.banner__actividades {
  background-image: url(../img/imagen__actividades.jpg);
}

.actividades {
  padding: 0;
}

.actividades .galeria {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.actividades .galeria .galeria__texto {
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.actividades .galeria .galeria__texto h2 {
  background-color: #0C3970;
  padding: 10px;
}

.actividades .galeria .galeria__texto p {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.actividades .galeria .galeria__fotos {
  margin: 5px auto;
  width: 100%;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.actividades .galeria .galeria__fotos img {
  width: 100%;
  -webkit-filter: blur(1px) brightness(80%);
          filter: blur(1px) brightness(80%);
}

.actividades .galeria .galeria__fotos img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.banner__planes {
  background-image: url(../img/imagen_planes.jpg);
}

.planes {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #000;
}

.planes .planes__tabla {
  color: #fff;
  background-color: #000;
  margin: 10px;
}

.planes .planes__tabla h2 {
  font-size: x-large;
  margin-bottom: 30px;
}

.planes .planes__tabla h3 {
  font-size: x-large;
  margin-bottom: 30px;
}

.planes .planes__tabla ul {
  margin-bottom: 40px;
}

.planes .planes__tabla ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  list-style: none;
  margin-bottom: 10px;
}

.planes .planes__tabla a {
  font-weight: 600;
}

.planes .planes__tabla:hover {
  background-color: #0C3970;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2 all;
  transition: 0.2 all;
}

.banner__contacto {
  background-image: url(../img/imagen_contacto.jpg);
}

.formulario {
  background-color: #000;
}

.formulario .formulario__contacto {
  background-color: #0C3970;
  padding: 0;
  margin: 30px auto;
  height: auto;
  max-width: 700px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario .formulario__contacto fieldset {
  width: 100%;
  margin: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.formulario .formulario__contacto fieldset legend {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  background-color: #1981FF;
  width: 100%;
  height: 30px;
  margin: 0;
}

.formulario .formulario__contacto fieldset .contacto__campo {
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

.formulario .formulario__contacto fieldset .contacto__campo input {
  padding: 3px;
}

.formulario .formulario__contacto fieldset .contacto__campo label {
  padding: 3px;
}

.formulario .formulario__contacto .contacto__submit {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  background-color: #1981FF;
  border: none;
  padding: 3px;
  margin: 5px 3rem;
}

.formulario .formulario__contacto .contacto__submit :hover {
  background-color: #1981FF;
  border-color: #000;
}

.footer {
  background-color: #1981FF;
  margin-top: 10px;
}

.footer .contenedor_eslogan {
  padding: 0;
}

.footer .contenedor_eslogan .eslogan {
  background-color: #0C3970;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.footer .footer_link:hover {
  color: #fff;
}

.footer .footer_bajo {
  margin-bottom: 5px;
}

.footer .footer_bajo .copy {
  color: #fff;
  font-size: medium;
}

.footer .footer_bajo .loguito {
  border-radius: 5px;
}

.footer .footer_bajo .logo_red {
  margin-bottom: 15px;
}

/* media query para tablets */
@media (max-width: 768px) {
  html body h1 {
    font-size: 20px;
  }
  html body h2 {
    font-size: 17px;
  }
  html body h3 {
    font-size: 15px;
  }
  html body a {
    font-size: 15px;
  }
  html body p {
    font-size: 12px;
  }
  /* --------------------------------------header para tablets------------------------------------------- */
  .header .header__logo img {
    width: 115px;
    height: 130px;
  }
  /* ------------------------------ Home para tablets---------------------------------------------------- */
  .banner__home, .banner__nosotros, .banner__actividades, .banner__planes, .banner__contacto {
    background-image: url(../img/imagen_portada-mobile.jpg);
    height: 700px;
  }
  /*----------------------------- Nosotros para tablets--------------------------------------------------- */
  .banner__nosotros {
    background-image: url(../img/imagen_nosotros-mobile.jpg);
    height: 700px;
  }
  .nosotros .nosotros__contenido, .ubicacion .nosotros__contenido, .nosotros .ubicacion__contenido, .ubicacion .ubicacion__contenido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .nosotros__contenido--azul, .ubicacion .nosotros__contenido--azul, .nosotros .ubicacion__contenido--azul, .ubicacion .ubicacion__contenido--azul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .nosotros__media, .ubicacion .nosotros__media, .nosotros .ubicacion__media, .ubicacion .ubicacion__media {
    height: 300px;
    display: block;
  }
  .nosotros .nosotros__media img, .ubicacion .nosotros__media img, .nosotros .ubicacion__media img, .ubicacion .ubicacion__media img {
    height: 300px;
    margin: auto;
  }
  .nosotros .nosotros__media iframe, .ubicacion .nosotros__media iframe, .nosotros .ubicacion__media iframe, .ubicacion .ubicacion__media iframe {
    height: 250px;
    width: 300px;
  }
  .nosotros .nosotros__texto, .ubicacion .nosotros__texto, .nosotros .ubicacion__texto, .ubicacion .ubicacion__texto {
    width: 80%;
    display: block;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
  }
  /*-------------------------- Página Actividades para tablets----------------------------- */
  .banner__actividades {
    background-image: url(../img/imagen__actividades-mobile.jpg);
    height: 700px;
  }
  .actividades .galeria .galeria__fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .actividades .galeria .galeria__fotos img {
    -webkit-filter: none;
            filter: none;
  }
  /* -----------------------------Página Planes para tablets-------------------------------- */
  .banner__planes {
    background-image: url(../img/imagen_planes-mobile.jpg);
    height: 700px;
  }
  /* ----------------------------Pagina Contacto para tablets------------------------------- */
  .banner__contacto {
    background-image: url(../img/imagen_contacto-mobile.jpg);
    height: 700px;
  }
  .formulario .formulario__contacto {
    background-color: #0C3970;
    padding: 0;
    margin: 30px auto;
    height: auto;
    width: 400px;
    border-radius: 5px;
  }
  .formulario .formulario__contacto fieldset legend {
    font-size: 16px;
  }
  .formulario .formulario__contacto .contacto__submit input {
    font-size: 16px;
  }
  .footer .footer_link {
    color: #fff;
  }
}

/* -----------------------------------mediaqueries para celulares */
@media screen and (max-width: 480px) {
  html body h1 {
    font-size: 17px;
  }
  html body h2 {
    font-size: 15px;
  }
  html body h3 {
    font-size: 14px;
  }
  html body a {
    font-size: 14px;
  }
  html body p {
    font-size: 12px;
  }
  /* ----------------------------------------Header para celulares-------------------------------------------------- */
  .header .header__logo img {
    width: 105px;
    height: 120px;
  }
  /*-----------------------------------Nosotros para celulares ------------------------------ */
  .nosotros .nosotros__media, .ubicacion .nosotros__media, .nosotros .ubicacion__media, .ubicacion .ubicacion__media {
    height: 250px;
  }
  .nosotros .nosotros__media img, .ubicacion .nosotros__media img, .nosotros .ubicacion__media img, .ubicacion .ubicacion__media img {
    height: 250px;
  }
  .nosotros .nosotros__media iframe, .ubicacion .nosotros__media iframe, .nosotros .ubicacion__media iframe, .ubicacion .ubicacion__media iframe {
    height: 250px;
    width: 250px;
  }
  /* -----------------------------Actividades para celulares---------------------------------- */
  .actividades .galeria .galeria__fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  /* -----------------------------Contacto para celulares--------------------- */
  .formulario .formulario__contacto {
    background-color: #0C3970;
    padding: 0;
    margin: auto;
    height: auto;
    width: 80%;
    border-radius: 5px;
  }
  .formulario .formulario__contacto fieldset legend {
    font-size: 16px;
    margin: 0;
  }
  .formulario .formulario__contacto fieldset .contacto__campo {
    font-size: 16px;
  }
  .formulario .formulario__contacto fieldset .comentario {
    width: 230px;
  }
  .formulario .formulario__contacto .contacto__submit input a {
    font-size: 16px;
  }
  /* -----------------footer para celulares---------------- */
  .footer .footer_link {
    font-size: x-small;
  }
  .footer .footer_bajo .copy {
    font-size: x-small;
  }
}
/*# sourceMappingURL=main.css.map */