// el banner se hace con un extend del banner de la pagina home y se le cambia la imagen de fondo */
.banner__actividades {
    @extend .banner__home;
	background-image: url(../img/imagen__actividades.jpg);
}

.actividades {
	padding: 0;
    .galeria {
        width: 100%;
        height: auto;
        overflow: hidden;
        .galeria__texto {
            color: $colorLetrasClaro;
            text-align: center;
            overflow: hidden;
            h2 {
                background-color: $colorTerciario;
                padding: 10px;   
            }
            p  {
                padding: 10px;
                font-family: $fuenteSecundaria;
                text-transform: uppercase;
            }
        }        
        .galeria__fotos {
            margin: 5px auto;
            width: 100%;
            max-width: 1000px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            img {
                width: 100%;
                filter: blur(1px) brightness(80%);
                &:hover {
                    filter: none;
                    transform: scale(1.01);
                }
            }
        }
    }
}