// este partial se utiliza para darle propiedades a los elementos comunes a todas las páginas del sitio 
html {
	width: 100%;
	height: 100vh;
    background-color: $colorSecundario;
    body {
        width: 100%;
        height: 100vh;
        background-color: $colorSecundario;

        h1 {
            @include fuentes (25px);
        }
        h2 {
            @include fuentes (23px);
        }
        h3 {
            @include fuentes (20px);
        }
        a {
            text-decoration: none;
            @include fuentes (20px);
        }
        p {
            font-size: 15px;
        }
    }
}



