// el banner se hace con un extend del banner de la pagina home y se le cambia la imagen de fondo
.banner__nosotros {
    @extend .banner__home;
	background-image: url(../img/imagen_nosotros.jpg);
}
.nosotros,.ubicacion {
	padding: 0;
    /* --------------------------uso de map */
    @each $fondo, $back in $fondos {
        & &__contenido--#{$fondo} {
            background-color: $back;
            height: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }
    & &__media {
        height: 350px;
        margin: 15px 15px 30px 15px;
        display: inline-block;
        padding: 10px;
        img {
            height: map-get($alturas, altura1);
            border-radius: 5px;
        }
        iframe {
            border-radius: 5px;
            height: map-get($alturas, altura1);
            width: 400px;
        }
    }
    
    & &__texto{
        color: $colorLetrasClaro;
        width: 30%;
        display: inline-block;
        margin: 10px;
        padding: 10px 20px 20px 10px;
        h2 {
            text-align: center;
            padding: 5px;
        }    
        p {
            font-size: 15px;
            font-family: $fuenteSecundaria;
            text-align: justify;
        }
    }
}
