//variables de color

$colorPrincipal: #1981FF;
$colorSecundario: #000;
$colorTerciario: #0C3970;
$colorLetrasClaro: #fff;
$colorLetrasOscuro:#000;

//variables de fuente

$fuentePrincipal: 'Oswald', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;